@import url('fonts.css');
.navbar-brand
{
	font-family: Ayush;
	letter-spacing: 1px;
	font-weight: bold;
}

.jumbotron h4
{
	font-family: Poppins;
	font-weight: lighter;
}

.jumbotron button
{
	font-family: verdana;
	font-weight: bold;
	cursor: pointer;
}

.navbar-nav ul li
{
	font-family: Ayush;
}

#ques p
{
	font-family: Poppins;
}

.align-middle button
{
	font-family: Poppins;
}

#image img
{
	border-radius: 5px;
	box-shadow: -2px 2px 13px 4px rgba(0, 0, 0, 0.5);
}

#contact button
{
	font-family: Poppins;
	letter-spacing: 1px;
}

.container #one
{
	box-shadow: -2px 2px 13px 4px rgba(0, 0, 0, 0.5);
}

#know h3, 
#know button
{
	font-family: Ayush;
	letter-spacing: 1px;
}

#know button
{
	font-weight: bold;
}